html, body{
    margin: 0;
}

h1, h2, h3, h3, h4, h5, h6{
    margin: 0;
}

.logo{
    width: 64px;
}

header, main{
    padding: 1rem;
}

article{
    border: 1px solid black;
    margin-top: 1rem;
    padding: 0.5rem;
}

article .author{
    font-size: .8rem;
    font-style: italic;
}

footer{
    text-align: center;
    background-color: antiquewhite;
    margin-top: 1rem;
    padding: 1rem;
    font-size: .8rem;
}
